.container {
    background-color: azure;
    min-width: 100%;
box-shadow: 0px 20px 20px black;
float: left;
display: grid;
overflow: scroll;
height: 95vh;

}
.wrapper {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
      }

.header {
height:fit-content;
background-color: rgba(210, 227, 237, 0.7);
margin: 20px;
border-radius: 50px;
      }

h1 {
   padding-top: 30px;
   padding-left: 2vw;
   
}

.month {
    font-size: 20px;
   margin-top: 75px;
    position: sticky;
    float: left;
    display: flex;
    font-size: 20px;
    padding-left: 2vw;
    

}

.m {
    width: 300px;
    position: sticky;
    margin-top: 75px;
    margin-left: 10px;
    float: left;
    display: flex;
    margin-right: 20px;
   
}
.row-res {
    margin: 20px;
    justify-self: center;
}

 .Res {

    font-size: 30px;
    height: 5vh;
    
}
    
 .res{
   
     color: rgb(73, 227, 73);
     text-shadow: 1px 1px 0px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
    
 }

 .Trev {
    margin-left: 20px;
    font-size: 20px;
}
 .trev {
   
     color: rgb(73, 227, 73);
     text-shadow: 1px 1px 0px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
 }
 .Tloss {
    margin-left: 20px;
    font-size: 20px;
}
 .tloss {
     color: red;
     text-shadow: 1px 1px 0px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
    
 }

 .row {
    margin: 20px;
    justify-self: center;
    max-width: 70vw;
   
 }
 .col {
    display: grid;
    min-width: 50vh;
    padding: 20px;
    height: 75vh;
    justify-content: space-around;
  }

  .boxes {
    width: 80px;
    margin: 5px;
  }
  .profit {
    margin: 5px;
    width: 80px;
    padding: 1px;
    border: green;
    box-shadow: 0px 2px 2px green;
    border-style: ridge;
  }

  .loss {
    margin: 5px;
    width: 80px;
    padding: 1px;
    border: green;
    box-shadow: 0px 2px 2px red;
    border-style: ridge;
  }
  .date {
      width: 80px;
      margin-left: 5px;
      padding: 1px;
      border-style: ridge;
      box-shadow: 0px 2px 2px black;
    
  }

  .Week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: left;
   max-width: 90vw;
    margin-left: 20px;
  }
  h3 {
    padding-top: 50px;
 
  }

hr {
    color: black;
    height: 2px;
    width: 100%;
}
.col-3 {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align:center;
    border-radius: 50px;
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: top;
    box-shadow:  0px -5px 20px 10px rgb(185, 201, 210);
}
p {
    font-size:larger;
}
ul {
    display: inline-block;
    text-align: left;
}



