.container {
    background-color: rgba(233, 233, 168, 0.7);
    min-width: 100%;
    height: 95vh;
box-shadow: 0px 20px 20px black;
float: left;
display: grid;
overflow: scroll;
}
.wrapper {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
      }
h1 {
    margin-left: 20px;
   position:fixed;
}

.month {
    font-size: 20px;
   margin-top: 75px;
    position: sticky;
    float: left;
    display: flex;
    font-size: 20px;
    

}

.m {
    width: 300px;
    position: sticky;
    margin-top: 75px;
    margin-left: 10px;
    float: left;
    display: flex;
    margin-right: 20px;
   
}

 .Res {
    position: relative;
    font-size: 30px;
    justify-content: space-around;
    height: 75vh;
    padding: 25px;
}
    
 .res{
   
     color: rgb(73, 227, 73);
     text-shadow: 1px 1px 0px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
    
     
   
 }

 .Trev {
    margin-left: 20px;
    font-size: 20px;
}
 .trev {
   
     color: rgb(73, 227, 73);
     text-shadow: 1px 1px 0px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
 }
 .Tloss {
    margin-left: 20px;
    
    font-size: 20px;
    
}
 .tloss {
   
     color: red;
     text-shadow: 1px 1px 0px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 40px;
    
 }

 .row {
    margin: 20px;
    justify-self: center;
    
    max-width: 70vw;
   
 }
 .col {
    display: grid;
    min-width: 50vh;
    padding: 20px;
    height: 75vh;
    justify-content: space-around;
  
   
  }

  .profit {
    width: 80px;
  }

  .loss {
    width: 80px;
  }
  .date {
      width: 80px;
  }

  .Week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: left;
   max-width: 90vw;
    margin-left: 20px;
  }






